<template>
  <div class="app-container">
    <header class="menu">
      <nav>
        <ul class="list">
          <li><RouterLink :to="{ name: 'home' }" class="menu-link">Home</RouterLink></li>
          <li v-show="userStore.ValidToken">
            <RouterLink :to="{ name: 'dashboard' }" class="menu-link">Dashboard</RouterLink>
          </li>
          <li v-show="userStore.ValidToken">
            <RouterLink :to="{ name: 'about' }" class="menu-link">About</RouterLink>
          </li>
          <li v-show="!userStore.ValidToken">
            <RouterLink :to="{ name: 'login' }" class="menu-link">Login</RouterLink>
          </li>
          <li v-show="userStore.ValidToken" class="user-info">{{ userStore.user }}</li>
          <li v-show="userStore.ValidToken">
            <button @click="logout" class="logout-button">Cerrar sesión</button>
          </li>
        </ul>
      </nav>
    </header>
    <RouterView class="router-view"></RouterView>
  </div>
</template>

<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import { useUserStore } from './stores/user'
import router from './router'

const userStore = useUserStore()

function logout() {
  userStore.logout()
  router.push({ name: 'home', params: {} })
}
</script>

<style scoped>
.app-container {
  position: relative;
}

.menu {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list {
  display: flex;
  justify-content: space-evenly;
  flex-basis: max-content;
  flex-direction: row;
  flex-wrap: nowrap;
}
nav ul li {
  display: inline;
  margin-right: 20px;
  padding: 8px;
}
nav ul li:hover {
  border: 1px solid white;
}

.menu-link {
  color: #fff;
  text-decoration: none;
}

.user-info {
  font-weight: bold;
  margin-right: 20px;
}

.logout-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.router-view {
  text-align: center;
  margin-top: 80px;
  height: calc(100vh - 70px);
  overflow-y: auto;
}
</style>
